.form-control {
  position: relative;
  margin: 2rem 0;
}

.form-control__error {
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 0.35rem;
  color: var(--text-error);
}

input,
[type='submit'] {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.7rem 1.2rem;
  border-radius: 0.7rem;

  &:focus {
    outline: none;
    border: 1px solid var(--border-focus);
  }
}

label {
  display: inline-block;
  padding: 0 0.35rem;
  font-weight: 500;
}

input {
  display: block;
  font-size: 15px;
  border: 1px solid var(--brand-light);
  color: var(--text);
  background: var(--form-input-background);
}

[type='submit'] {
  font-size: 20px;
  font-weight: 700;
  border: 1px solid var(--brand-light);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--text-button);
  background-color: var(--brand-light);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
