:root {
  --brand-hue: 106;
  --brand-saturation: 22%;
  --brand-lightness: 47%;

  --text: hsl(195, 67%, 22%);
  --text-button: hsl(0 0% 100%);
  --background: hsl(30, 50%, 96%);
  --form-input-background: hsl(30, 50%, 96%);
  --brand-light: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));
  --text-error: hsl(0, 100%, 50%);

  --border-focus: hsl(340, 20%, 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0 0% 100%);
    --text-button: hsl(0 0% 100%);
    --background: hsl(0 0% 9%);
    --form-input-background: hsl(0 0% 0%);
    --brand-light: hsl(var(--brand-hue), var(--brand-saturation), 30%);
    --text-error: hsla(0, 35%, 50%);
  }
}
